:root {
  --pink: #EEC4C4;
  --blue: #94D0CC;
  --red: #F29191;
  --grey: #D1D9D9;
  --purple: #716F81;
  --light-purple: #B97A95;
  --orange: #F6AE99;
  --yellow: #F2E1C1;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  background-color: var(--orange);
}